.home-body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 93vh;
}

.home-container {
    background-color: white;
    max-width: 1300px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-title {
    color: #1778F2;
    text-align: center;
    margin-bottom: 0;
}

.home-benachrichtigung {
    text-align: center;
}

.red-text {
    color: red;
    font-size: 36px;
    margin-bottom: 5px;
}

.standard-text {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kindergruppe-table th.kind,
.kindergruppe-table td.kind {
    width: 33%;
}

.kindergruppe-table th.teilnahmen,
.kindergruppe-table td.teilnahmen {
    width: 33%;
}

.kindergruppe-table th.aktion,
.kindergruppe-table td.aktion {
    width: 33%;
}

table th,
table td {
    padding: 8px;
    text-align: center;
}

.datum {
    cursor: pointer;
}

.anleitung-text {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.anleitung-text h3 {
    color: #1778F2;
    margin-bottom: 15px;
}

.anleitung-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    background-color: #e7eff8;
    padding: 10px;
    border-radius: 4px;
}

.anleitung-text ol {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-position: inside;
}

.anleitung-text ol li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.anleitung-text strong {
    color: #1778F2;
}

.anleitung-text .hinweis {
    color: #d9534f;
    font-style: italic;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2dede;
    border-radius: 4px;
}
.notbetreuung-button {
    padding: 10px 20px; /* Vergrößert den Knopf */
    font-size: 16px; /* Größere Schrift */
    margin-bottom: 30px;
    cursor: pointer; /* Cursor-Stil als Hinweis für Klickbarkeit */
}

.notbetreuung-anzeige {
    margin-bottom: 20px; /* Vergrößert den Abstand nach unten */
}







