/* NewHome.css */
.home-body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container {
    background-color: white;
    width: 1300px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-title {
    color: #1778F2;
    text-align: center;
    margin-bottom: 20px;
}

.home-benachrichtigung {
    text-align: center;
}

.red-text {
    color: red;
    font-size: 36px;
    margin-bottom: 5px;
}

.standard-text {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kindergruppe-table th.kind,
.kindergruppe-table td.kind {
    width: 33%;
}

.kindergruppe-table th.teilnahmen,
.kindergruppe-table td.teilnahmen {
    width: 33%;
}

.kindergruppe-table th.aktion,
.kindergruppe-table td.aktion {
    width: 33%;
}

table th,
table td {
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(-n+5) {
    background-color: #a1eaae !important; /* Grüne Farbe für die ersten 5 Zeilen */
}

tbody tr:nth-child(n+6):nth-child(-n+10) {
    background-color: #fffacd !important; /* Gelbe Farbe für die nächsten 5 Zeilen */
}

tbody tr:nth-last-child(-n+5) {
    background-color: #f7b7b7 !important; /* Rote Farbe für die letzten 5 Zeilen */
}