.kindergruppe-body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    min-height: 93vh;

}

.kindergruppe-container {
    background-color: white;
    width: 1300px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kindergruppe-title {
    color: #1778F2;
    text-align: center;
    margin-bottom: 20px;
}

.kindergruppe-section {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.kindergruppe-section-title {
    color: #1778F2;
    margin-bottom: 10px;
}

.kindergruppe-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kindergruppe-table th, .kindergruppe-table td {
    padding: 8px;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
}

.kindergruppe-table th.kind, .kindergruppe-table td.kind {
    width: 33%;
}

.kindergruppe-table th.teilnahmen, .kindergruppe-table td.teilnahmen {
    width: 33%;
}

.kindergruppe-table th.aktion, .kindergruppe-table td.aktion {
    width: 33%;
}

.button {
    background-color: #1778F2;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #1456b2;
}

.button-danger {
    background-color: #d9534f;
}

.button-danger:hover {
    background-color: #c9302c;
}

.no-kinder-message {
    text-align: center;
    color: #606770;
    font-style: italic;
    padding: 10px;
}
